In [10]:
import pandas as pd
from pathlib import Path
Path_file = Path('../Python_Homework_Resources/Homework_02-Python_Instructions_PyBank_Resources_budget_data.csv')
budget_data_csv = pd.read_csv(Path_file)
total_months = len(budget_data_csv['Date'])
print('Total Months: ' + str(total_months))
total_profit_and_losses = budget_data_csv['Profit/Losses'].sum()
print('Total: ' + "$" + str(total_profit_and_losses)) 
AmtChange = budget_data_csv["Profit/Losses"].diff()
average_change = budget_data_csv['Profit/Losses'].pct_change().sum()
print(f'Average Change: {average_change}')
budget_data_csv["Amount Changed"] = AmtChange
greatest_increase = budget_data_csv['Amount Changed'].max()
print(f'Greatest Increase in Profits: {greatest_increase}')
greatest_decrease = budget_data_csv['Amount Changed'].min()
print(f'Greatest Decrease in Profits: {greatest_decrease}')
with open("PyBank.txt","w") as text_file:
    text = 'Total Months: ' + str(total_months) + '\n' 'Total: ' + "$" + str(total_profit_and_losses) + '\n' f'Average Change: {average_change}' + '\n' f'Greatest Increase in Profits: {greatest_increase}' + '\n' f'Greatest Decrease in Profits: {greatest_decrease}'
    text_file.write(str(text))
    text_file.close()

Total Months: 86
Total: $38382578
Average Change: -24.370437430702225
Greatest Increase in Profits: 1926159.0
Greatest Decrease in Profits: -2196167.0

In [7]:
budget_data_csv.head(30)

        Date  Profit/Losses  Amount Changed
0   Jan-2010         867884             NaN
1   Feb-2010         984655        116771.0
2   Mar-2010         322013       -662642.0
3   Apr-2010         -69417       -391430.0
4   May-2010         310503        379920.0
5   Jun-2010         522857        212354.0
6   Jul-2010        1033096        510239.0
7   Aug-2010         604885       -428211.0
8   Sep-2010        -216386       -821271.0
9   Oct-2010         477532        693918.0
10  Nov-2010         893810        416278.0
11  Dec-2010         -80353       -974163.0
12  Jan-2011         779806        860159.0
13  Feb-2011        -335203      -1115009.0
14  Mar-2011         697845       1033048.0
15  Apr-2011         793163         95318.0
16  May-2011         485070       -308093.0
17  Jun-2011         584122         99052.0
18  Jul-2011          62729       -521393.0
19  Aug-2011         668179        605450.0
20  Sep-2011         899906        231727.0
21  Oct-2011         834719        -65187.0
22  Nov-2011         132003       -702716.0
23  Dec-2011         309978        177975.0
24  Jan-2012        -755566      -1065544.0
25  Feb-2012        1170593       1926159.0
26  Mar-2012         252788       -917805.0
27  Apr-2012        1151518        898730.0
28  May-2012         817256       -334262.0
29  Jun-2012         570757       -246499.0